html
    head
        link(rel="stylesheet" href="main.css") 
    body
        .reveal
            .slides
                section Single Horizontal Slide
                section
                    section Vertical Slide 1
                    section Vertical Slide 2
        script(src="main.js")
